<div class="bg-white shadow-sm p-4 border-radius-5">
    <app-common-title [childData]="childData"></app-common-title>
    <div class="claim-statistic py-4 mb-1">
        <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
        </ngx-charts-line-chart>
        <ul>
            <li>
                claim 1
            </li>
            <li>
                claim 2
            </li>
            <li>
                claim 3
            </li>
        </ul>
    </div>
</div>
