<div class="bg-white shadow-sm p-4 border-radius-5">
    <app-common-title [childData]="childData"></app-common-title>
    <!-- <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let selectImagesList of selectImages">
            <ng-template carouselSlide>
                <div class="select-img-content">
                    <div class="img-tumb">
                        <img [src]="selectImagesList.img" [alt]="selectImagesList.title" [title]="selectImagesList.title">
                    </div>
                    <h6>{{selectImagesList.title}}</h6>
                    <p>{{selectImagesList.para}}</p>
                    <div class="common-blue-btn">
                        <a href="javascript:;">{{selectImagesList.link}}</a>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o> -->
</div>

