<div class="bg-white shadow-sm p-4 border-radius-5">
    <app-common-title [childData]="childData"></app-common-title>
    <div class="reminder-container">
        <div class="mb-3">
                <div class="form-group row upload-data-file-container application-form-container">
                    <div class="col-sm-6">
                        <!-- <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" placeholder="Select">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedCountry">
                                    <img src="/assets/{{country.icon}}.png" [class]="'flag flag-' + selectedCountry.icon.toLowerCase()" />
                                    <div>{{selectedCountry.name}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div class="country-item">
                                    <img src="/assets/{{country.icon}}.png" [class]="'flag flag-' + country.icon.toLowerCase()" />
                                    <div>{{country.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown> -->


                        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" placeholder="Select">
                            <!-- <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedCountry">
                                    <img src="/assets/{{country.icon}}.png" [class]="'flag flag-' + selectedCountry.icon.toLowerCase()" />
                                    <div>{{selectedCountry.name.sdfsadffa}}</div>
                                </div>
                            </ng-template> -->
                            <ng-template let-country pTemplate="country">
                                <div class="country-item">
                                    <span>
                                        <i *ngIf="country.showHide == true">
                                            <img src="assets/{{country.icon}}.png" [class]="'flag flag-' + country.icon.toLowerCase()" />
                                        </i>
                                    </span>
                                    <div>{{country.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
        </div>
        <div class="mb-4 text-center">
            <div class="upload-doc-container">
                <p>Drag and Drop  the files here<br/>or</p>
                <input hidden type="file" #uploader (change)="uploadFile($event)"/>
                <button (click)="uploader.click()">Browse...</button>
            </div>
        </div>
        <div class="common-blue-btn mb-3 text-center">
            <a href="javascript:;" class="rounded-btn">Upload</a>
        </div>
        <div class="row align-items-end justify-content-between">
            <div class="col-6">
                <div class="upload-data-file-container application-form-container">
                    <input type="text" pInputText placeholder="Search">
                </div>
            </div>
            <div class="col-3 file-length">
                Total files: {{uploadData.length}}
            </div>
        </div>
        <div>
            <hr class="border-dotted-t"/>
        </div>
        <div malihu-scrollbar light [scrollbarOptions]="scrollbarOptions" class="myInternalscroll upload-data-container">
            <ul>
                <p-scrollPanel [style]="{width: '100%', height: '130px'}" styleClass="custombar1">
                    <li *ngFor='let item of uploadData'>
                        <div class="row align-items-center">
                            <div class="col-3 col-md-5">
                                <i class="fa fa-file-word-o text-blue text-bold mr-1" aria-hidden="true" *ngIf="item.type == 'Word'"></i>
                                <i class="fa fa-file-excel-o text-green text-bold mr-1" aria-hidden="true" *ngIf="item.type == 'Excel'"></i>
                                <i class="fa fa-file-pdf-o text-red text-bold mr-1" aria-hidden="true" *ngIf="item.type == 'PDF'"></i>
                                {{item.Name}}
                            </div>
                            <div class="col-2 col-md-3">
                                <div class="tag-name">
                                    {{item.Tag}}
                                </div>
                            </div>
                            <div class="col-3 col-md-2 text-center">
                                <span *ngIf="item.New == true">New</span>
                            </div>
                            <div class="col-1 col-md-1">
                                <a href="javascript:;">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-1 col-md-1">
                                <a href="javascript:;">
                                    <i class="fa fa-trash-o " aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </p-scrollPanel>
            </ul>
        </div>
        <div>
            <hr class="mt-0 border-dotted-t"/>
        </div>
        <!-- <div class="common-arrow-btn mt-3">
            <a href="javascript:;">View All</a>
        </div> -->
    </div>
</div>