<div class="bg-white shadow-sm p-4 border-radius-5 min-height">
    <app-common-title [childData]="childData"></app-common-title>
    <div class="detailed-container">
        <ul class="list-unstyled list-leftnright">
            <li class="row">
                <div class="col-5 text-semibold">NPI</div>
                <div class="col-7">:  9874335AA2</div>
            </li>
            <li class="row">
                <div class="col-5 text-semibold">CAQH ID</div>
                <div class="col-7">:  10032270L08</div>
            </li>
            <li class="row">
                <div class="col-5 text-semibold">Network</div>
                <div class="col-7">:  Health Plan HMO</div>
            </li>
            <li class="row">
                <div class="col-5 text-semibold">Request Type</div>
                <div class="col-7">:  Re-Credentialing</div>
            </li>
            <li class="row">
                <div class="col-5 text-semibold">Last Credentialed Date</div>
                <div class="col-7">:  09/01/2018</div>
            </li>
            <li class="row">
                <div class="col-5 text-semibold">Next Credential Date</div>
                <div class="col-7">:  09/01/2021</div>
            </li>
            <li class="row pb-5">
                <div class="col-5 text-semibold">Status</div>
                <div class="col-7">:  In Progress</div>
            </li>
        </ul>
        <hr>
        <div class="row text-center mt-5">
            <div class="col d-md-flex justify-content-center mt-3 mb-4">
                <div class="common-white-btn mr-3 text-center mb-3 mb-md-0">
                    <a href="javascript:;" class="rounded-btn">Make Changes</a>
                </div>
                <div class="common-blue-btn text-center">
                    <a href="javascript:;" class="rounded-btn">Looks Good</a>
                </div>
            </div>
        </div>
    </div>
</div>