<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="copyright">
            © Health Plan {{footerYear}}. All Rights Reserved | <span>Call Us:</span> <a href="tel:1-800-828-6650">1-800-828-6650</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer-links">
            <a href="#">CONTACT US</a>
            <a href="#">PRIVACY POLICY</a>
            <a href="#">TERMS OF SERVICE</a>
          </div>
        </div>
      </div>
    </div>
  </footer>