<div class="bg-white shadow-sm p-4 border-radius-5">
    <app-common-title [childData]="childData"></app-common-title>
    <div class="detailed-container">
        <div class="row">
            <div class="col-md-7">
                <ul class="list-unstyled list-leftnright">
                    <li class="row">
                        <div class="col-5 text-semibold">Date of Bith</div>
                        <div class="col-7">:  01/04/2002 (18 years old)</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold">Gender</div>
                        <div class="col-7">:  20548</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold">Email</div>
                        <div class="col-7">:  abc@gmail.com</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold">Home Phone</div>
                        <div class="col-7">:  808-321-4210</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold">Mobile Phone</div>
                        <div class="col-7">:  808-321-4210</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold">Office Phone</div>
                        <div class="col-7">:  N/A</div>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul class="list-unstyled list-leftnright">
                    <li class="row">
                        <div class="col-12 text-semibold">Alternate Contact</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold">Name</div>
                        <div class="col-7">:  Ned Stark</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold">Relationship</div>
                        <div class="col-7">:  Father</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold">Phone</div>
                        <div class="col-7">:  786-401-123</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold">Address</div>
                        <div class="col-7">:  123 Direwolf Lane</div>
                    </li>
                    <li class="row">
                        <div class="col-5 text-semibold"></div>
                        <div class="col-7">Castle Black, North</div>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-12">
                <p><b>Address(es)</b></p>
            </div>
            <div class="col-4">
                <p class="text-blue">Billing</p>
                <p>123 Direwolf Lane <br>Castle Black North</p>
            </div>
            <div class="col-4">
                <p class="text-blue">Physical</p>
                <p>same as billing</p>
            </div>
            <div class="col-4">
                <p class="text-blue">Mailing</p>
                <p>426 Titan Blvd <br>Braavos, Black North</p>
            </div>
        </div>
    </div>
</div>